.container {
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 500px;
    height:500px;
    background-color: grey;
}

#game-reset {
    position: relative;
    left: 50%;
}

.container button {
    position: relative;
    display: block;
    margin:  10px auto;
    top: 25%; 
    width: 50%;
    height: 20%;
 }


.square {
  width: 50%; /* Adjust width as needed */
  height: 50%; /* Adjust height as needed */
  position: absolute;
}

#btn-easy {
    background:green;
}

#btn-hard {
    background:red;
}

#sq-1 {
  top: 0;
  left: 0;
  background: red
}

#sq-2 {
  top: 0;
  right: 0;
  background: blue
}

#sq-3 {
  bottom: 0;
  left: 0;
  background: green 
}

#sq-4 {
  bottom: 0;
  right: 0;
  background:yellow 
}
